@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.lineicons.com/3.0/lineicons.css");
@import "custom/variables";
@import "app/components/RightMenu/RightMenu.module.scss";
@import "styles/Home.module.scss";

img {
  vertical-align: middle;
  height: auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

