
.nav-toggle-btn.white {
  .stick {
    background-color: #fff;
  }

  .nav-toggle-title {
    color: #fff;
    margin-right: 20px;
  }
}

.body-menu-opened .nav-toggle-btn {
  color: #000;

  .stick {
    background-color: #000;
  }
}

.stick:last-child {
  margin-bottom: 0;
}

.nav-toggle:hover .stick-2 {
  width: 29px;
}

.body-menu-opened {
  .stick1 {
    animation: Bc 0.85s ease-out forwards;
  }

  .stick2 {
    animation: Cc 0.85s linear forwards;
    width: 29px;
    margin-left: 0;
  }

  .stick3 {
    animation: Dc 0.85s linear forwards;
  }
}

@keyframes Bc {
  0% {
    width: 29px;
  }

  30% {
    width: 3px;
    transform: translate(14px);
  }

  65% {
    width: 3px;
    transform: translate(14px, -29px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  to {
    width: 2px;
    transform: translate(9px, 17px);
  }
}

@keyframes Cc {
  65% {
    width: 29px;
    transform: translate(0) rotate(0deg);
  }

  to {
    width: 29px;
    transform: translate(0) rotate(45deg);
  }
}

@keyframes Dc {
  65% {
    transform: translate(0) rotate(0deg);
  }

  to {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.body-menu-close {
  .stick1 {
    width: 3px;
    animation: Ec 0.85s ease-out forwards;
  }

  .stick2 {
    animation: Fc 0.85s ease-out forwards;
    margin-left: 0;
  }

  .stick3 {
    animation: Gc 0.85s ease-out forwards;
  }
}

@keyframes Ec {
  0%,
  70% {
    width: 0;
    transform: translate(0);
  }

  to {
    width: 29px;
    transform: translate(0);
  }
}

@keyframes Fc {
  0% {
    width: 29px;
    transform: translate(0) rotate(45deg);
  }

  20% {
    width: 3px;
    transform: translate(0) rotate(45deg);
  }

  40% {
    width: 0;
  }

  65% {
    transform: translateY(-26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  80% {
    width: 0;
  }

  to {
    width: 29px;
    transform: translate(0);
  }
}

@keyframes Gc {
  0% {
    width: 29px;
    transform: translateY(-8px) rotate(-45deg);
  }

  20% {
    width: 3px;
    transform: translateY(-8px) rotate(-45deg);
  }

  65% {
    transform: translateY(-35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  90% {
    width: 3px;
  }

  to {
    width: 29px;
    transform: translate(0);
  }
}

.nav-toggle-btn.desktop-hide {
  display: none;
}

.body-menu-opened .nav-toggle-btn.white .stick {
  background-color: #fff;
}

.bannerV8 {
  padding: 49px 0 100px;
}

.bannerV8Content {
  .bannerTxtV8 {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 84px;
    margin-top: 67px;

    > h2 {
      color: #000;
      font-size: 64px;
      line-height: 72px;
      margin-bottom: 28px;
    }

    p {
      color: #999;
      font-size: 18px;
      line-height: 34px;
      margin-bottom: 54px;
      padding-right: 30px;
    }

    .bannerImgV8 > img {
      max-width: 100%;
    }
  }

  .bannerWid {
    padding-top: 46px;

    p {
      color: #000;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 46px;
      padding-right: 100px;
    }
  }
}

.wdInz {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .cinon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #2f2e42;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }

  .wlInfo {
    padding-left: 20px;

    > {
      span {
        display: block;
        color: #666;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 1px;
      }

      h3 {
        color: #000;
        font-size: 24px;
      }
    }
  }
}

.btnDefaultV8 {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #ff4800;
  height: 58px;
  line-height: 58px;
  padding: 0 35px;
  border-radius: 7px;
  text-transform: capitalize;

  &:hover {
    color: #fff;
  }

  &.v2 {
    height: 46px;
    line-height: 46px;
    margin-top: 60px;
    background-color: inherit;
    border: 1px solid #ff4800;
    color: #ff4800;
    font-size: 16px;
    text-transform: capitalize;

    &:hover {
      background-color: #ff4800;
      color: #fff;
    }
  }
}

