.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.headerV8 {
  padding: 47px 0;
  position: relative;

  &.v9 {
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 40px 0;

    .headerContentV8 nav ul {
      li a {
        &.active,
        &:hover {
          color: #e7cca9;
        }
      }

      ul li a {
        color: #000;

        &.active,
        &:hover {
          color: #e7cca9;
        }
      }
    }

    .container {
      max-width: 100%;
      padding: 0 80px;
    }

    .headerContentV8 {
      nav ul li a {
        color: #fff;
      }

      .menu-btn {
        margin-left: 225px;
      }
    }

    &:before {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url("/static/images/line.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    max-width: 1230px;
    padding: 0 15px;
  }
}

.headerContentV8 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;

  .logoV8 {
    max-width: 370px;
    -ms-flex: 0 0 370px;
    flex: 0 0 370px;
  }

  nav ul {
    li {
      display: inline-block;
      padding: 0 20px;
      position: relative;

      &:hover > ul {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 5px;
        height: 5px;
        background-color: #ccc;
        transform: translateY(-50%);
        border-radius: 50%;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        &:before {
          display: none;
        }
      }

      a {
        display: inline-block;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          color: #ff4800;
        }
      }
    }

    ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 240px;
      background-color: #fff;
      text-align: left;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
      margin-top: 25px;
      padding: 20px;
      border-radius: 5px;
      z-index: 999999;
      -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      ul {
        left: 100%;
        top: 0;
      }

      li {
        display: block;
        padding: 0;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &:after,
        &:before {
          display: none;
        }

        &:last-child {
          border-bottom: 0;
        }

        a {
          &:after,
          &:before {
            display: none;
          }
        }
      }
    }
  }

  .chatBtn {
    display: inline-block;
    margin-left: auto;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #000;

    i {
      margin-left: 10px;
      font-size: 16px;
    }
  }

  .menu-btn {
    display: inline-block;
    color: #000;
    font-size: 30px;
    margin-left: 100px;
  }
}



.stick {
  width: 29px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #000;
  display: inline-block;
  transition: all 0.4s ease-in-out;
}

.navToggleBtn {
  background: 0 0;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: 0;
  position: relative;
  z-index: 995;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  margin-left: 70px;
}

.navToggle {
  width: 29px;
  height: 29px;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  vertical-align: middle;
}

.nav-toggle-btn.white {
  .stick {
    background-color: #fff;
  }

  .nav-toggle-title {
    color: #fff;
    margin-right: 20px;
  }
}

.body-menu-opened .nav-toggle-btn {
  color: #000;

  .stick {
    background-color: #000;
  }
}

.stick:last-child {
  margin-bottom: 0;
}

.nav-toggle:hover .stick-2 {
  width: 29px;
}

.body-menu-opened {
  .stick1 {
    animation: Bc 0.85s ease-out forwards;
  }

  .stick2 {
    animation: Cc 0.85s linear forwards;
    width: 29px;
    margin-left: 0;
  }

  .stick3 {
    animation: Dc 0.85s linear forwards;
  }
}

@keyframes Bc {
  0% {
    width: 29px;
  }

  30% {
    width: 3px;
    transform: translate(14px);
  }

  65% {
    width: 3px;
    transform: translate(14px, -29px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  to {
    width: 2px;
    transform: translate(9px, 17px);
  }
}

@keyframes Cc {
  65% {
    width: 29px;
    transform: translate(0) rotate(0deg);
  }

  to {
    width: 29px;
    transform: translate(0) rotate(45deg);
  }
}

@keyframes Dc {
  65% {
    transform: translate(0) rotate(0deg);
  }

  to {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.body-menu-close {
  .stick1 {
    width: 3px;
    animation: Ec 0.85s ease-out forwards;
  }

  .stick2 {
    animation: Fc 0.85s ease-out forwards;
    margin-left: 0;
  }

  .stick3 {
    animation: Gc 0.85s ease-out forwards;
  }
}

@keyframes Ec {
  0%,
  70% {
    width: 0;
    transform: translate(0);
  }

  to {
    width: 29px;
    transform: translate(0);
  }
}

@keyframes Fc {
  0% {
    width: 29px;
    transform: translate(0) rotate(45deg);
  }

  20% {
    width: 3px;
    transform: translate(0) rotate(45deg);
  }

  40% {
    width: 0;
  }

  65% {
    transform: translateY(-26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  80% {
    width: 0;
  }

  to {
    width: 29px;
    transform: translate(0);
  }
}

@keyframes Gc {
  0% {
    width: 29px;
    transform: translateY(-8px) rotate(-45deg);
  }

  20% {
    width: 3px;
    transform: translateY(-8px) rotate(-45deg);
  }

  65% {
    transform: translateY(-35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  90% {
    width: 3px;
  }

  to {
    width: 29px;
    transform: translate(0);
  }
}

.nav-toggle-btn.desktop-hide {
  display: none;
}

.body-menu-opened .nav-toggle-btn.white .stick {
  background-color: #fff;
}